.Login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../static/image/login/bj.png");
  background-repeat: no-repeat;
  background-position-x: -1px;
  background-size: auto;
  & input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    font: 12px/24px "Lato", Arial, sans-serif;
    color: #333;
    letter-spacing: 1px;
  }
}
.login_wrap {
  display: flex;
  align-items: center;
  width: max-content;
  height: 100%;
}
.bg_img {
  position: relative;
  flex: auto;
  width: 464px;
  height: 536px;
  .bg_logo {
    position: absolute;
    top: 20px;
  }
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login_box {
  position: relative;
  width: 464px;
  min-width: 464px;
  height: 536px;
  padding: 44px;
  overflow: hidden;
  background: white;
  /* box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;*/
}
.form_content {
  width: 90%;
  padding: 6px;
  margin: 0px auto;
  margin-top: 60px;
}

:global .site-form-item-icon {
  color: #33333373;
}
