.Login {
  min-height: 100vh;
  background-image: linear-gradient(125deg, #e4ffcd, #6dd5fa, #2980b9, #e4ffcd);
  background-size: 400%;
  animation: bganimation 15s infinite;
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
